@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Birthstone', cursive;
}
body {
    min-height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
.drops {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 58% 42% 32% 68% / 42% 52% 48% 58% ;
    box-shadow: inset  10px 10px 10px rgba(0, 0, 0, .05),
                15px 25px 10px rgba(0, 0, 0, .1),
                15px 20px 20px rgba(0, 0, 0, .05),
                inset -10px -10px 15px rgb(255, 255, 255, .9);
}
.drop::before {
    content: '';
    width: 20px;
    height: 20px;
    left: 35px;
    position: absolute;
    top: 25px;
    background: white;
    border-radius: 47% 53% 72% 28% / 49% 22% 78% 51% ;
}
.drop::after {
    content: '';
    width: 10px;
    height: 10px;
    left: 80px;
    position: absolute;
    top: 35px;
    background: white;
    border-radius: 47% 53% 72% 28% / 49% 22% 78% 51% ;
}
.drop:nth-child(2) {
    transform: scale(0.5) translate(-250px, 180px);
    border-radius: 45% 55% 28% 72% / 34% 43% 57% 66% ;
}
.drop:nth-child(3) {
    transform: scale(.3) translate(300px, 80px);
    border-radius: 55% 45% 51% 49% / 19% 43% 57% 81%  ;
}
}
